body{
    background-color: chocolate;
    margin: 0 auto;
    padding: 0 auto;
}
h4{
    background-color: lightseagreen;
}
.title{
    font-size: 3em;
    color: crimson;
}
#principal{
    font-size: 70px;
}
.logo{
   width: 300px; 
   height: 300px;
}
.cards{
    border: 2px solid black;
    width: fit-content;
    padding: 0px 1em 0px 1em;
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.cards:hover{
    background-color: darkgoldenrod;
}

#titulos{
    border: 2px solid black;
    width: 60vw;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cards-container {
    width: 85%;
    margin: auto; 
    margin-top: 1.5em;
    border: 2px solid rgb(54, 54, 54);
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}